@import url('https://fonts.maateen.me/kalpurush/font.css');
@import "tailwindcss";
@plugin "daisyui";
@keyframes marquee {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;
    display: inline-block;
  }

body {
  font-family: 'Kalpurush', serif;
}

.bangla-font {
  font-family: 'Kalpurush', serif;
}